.DS_Store
mac-build/bin
mac-build/build
mac-build/lib
mac-build/snake-mobile.build/
*.build/
xcuserdata/
xcshareddata/
project.pbxproj
Resources/.DS_Store
ios-build/bin
ios-build/build
ios-build/lib
ios-build/snake-mobile.build/
