<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{32,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{72,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DownNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{112,0},{49,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DownSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{161,0},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{339,0},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{384,0},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RightNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{430,0},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RightSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{474,0},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UpNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{518,0},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UpSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{568,0},{49,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{211,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass-dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{243,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{275,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{307,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{617,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac31756f084b2d39e7e84c91467bf865:af4c20c9e6ddcfb9bd9dd938acd7873d:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
